.br2r{
    padding-top: 100px;
    position: absolute;
    width: 100%;
    height: 610px;
    top: 978px;
    background: #1A0328;
    color: rgba(255, 255, 255, 0.82);
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    line-height: 101px;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
}

.br3{
    position: absolute;
    width: 100%;
    height: 243px;
    top: 1446px;

    background: url("../Components/rpng3.png");
}